.navbar{
    display: flex;
    justify-content: space-around;
    background-color: wheat;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar a:hover{
    color: rgb(134, 74, 86);
}